*.log
*.iml
*.ipr
*.iws
scorer-1.0-SNAPSHOT.jar
/codalab/competition/competition/scoring_program.zip
/codalab/competition/competition/dev_data.zip
/codalab/competition/competition/test_data.zip
/codalab/competition/competition.zip
/codalab/competition/submission.zip
baseline-system/dependency-reduced-pom.xml
baseline-system/target/
codalab/scorer/dependency-reduced-pom.xml
codalab/scorer/target/
